header{
    display: flex;
    flex-direction: column; 
}
h1{
    font-family: 'Inter';
    align-self: center;
    background-color: #23736b;
    color: white;
    border: 2px;
    border-radius: 10px;
    padding: 10px;
}

.stats{
    display: flex;
    justify-content: center;   
    
}

.statbox{

    border: 2px solid #23736b;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0px 30px 0px 30px;
  }

p{
    font-family: 'Inter';
}  

strong{
    font-family: 'Inter';
}  
.graph{
    padding-top: 20px;
    display: flex;
    justify-content: center; 
}


