<header>
    <h1>{{nomPays}}</h1>
    <div class="stats">
        <div class="statbox">
            <!-- reutiliser le component-->
            <h2>Number of entries</h2>
            <span>{{numberEntries}}</span>
        </div>
        <div class="statbox">
            <h2>Total number medals </h2>
            <span>{{numberMedals}}</span>
        </div>
        <div class="statbox">
            <h2>Total number of athletes </h2>
            <span>{{numberAthlete}}</span>
        </div>
    </div>
    
</header>
<div class="graph">
<app-linechart [data]="detailOlympic" class="line"></app-linechart>
</div>
<button
(click)="click($event)">RETOUR
</button>
